body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.time {
  position: relative;
  background: #fff;
  border: 0.1px  #999;
  height: 80px;
  padding: 0;
  text-align: center;
}

.time span{
  position: absolute;
  top: -10px;
  left: 10px;
}

.square {
  background: #fff;
  border: 0.1px solid #9999995c;
  font-size: 24px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.btn {
  width: 100%;
  height: 100%;
}

.delete-btn {
  height: 50%;
  position: absolute;
  width: auto;
  color: white;
}

.item {
  border: 1px solid gray;
}

.rnd {
  border: 2px solid white;
  background: #02c5cc;
  border-radius: 10px;
}

.rnd.done {
  background: #b0bec5;
}
.description {
  width: 90%;
  height: 100%;/**/
  background-color: rgba(0,0,0,0);
  border: none;
  color: white;
}
.task {
  overflow: scroll;
  height: 90vh;
  padding: 40px 10px 40px 0;
}

.text-task pre{
  font-size :1em;
}